/* this is the external css file. this file link with all five pages they are
index, cv, research, contact, blog. */ 
/* * target all the component in html */
*{
	padding: 0px; 
	margin: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
}
 label.logo{
 	color: white;
 	font-size: 35px;
 	line-height: 80px;
 	padding: 0 100px;
 	font-weight: bold;
 }
nav ul{
 	float: right;
 	margin-left: 20px;
 }
 nav ul li{
 	display: inline-block;
 	line-height: 80px;
 	margin: 0 5px;
 }
 nav ul li a{
 	
 	color:white;
 	font-size: 17px;
 	text-transform: uppercase;
 }
 li a:hover{
 	background-color: tomato;
 }
.name{
	text-align: center;
	padding-top: 10px;
	color: white;
	font-size: 20px;

}
 .rescontainer{
 	position: relative;
 	font-family: arial;
 }
 .restext{
 	position: absolute;
 	bottom: 20px;
 	color: white;
 	text-align: center;
 }
 